/* Sidebar Login Form */
section#login_side form fieldset.form-actions {
  margin: 0 0 0 30%;
  padding: 0;
  border: none;
  }
section#login_side form fieldset.check {
  padding-left: 20%;  
  }
section#login_side form fieldset label {
  float: left;
  width: 30%;
  margin: 4px 0 5px 0;
  font-weight: bold;
  }
section#login_side form fieldset.check label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
  }
section#login_side form fieldset input.form-text,
section#login_side form fieldset textarea {
  display: block;
  width: 70%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

form input[type="submit"] {
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;  
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: 1px solid #5a7600;
  background: #739604;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

section#login_side form input[type="submit"] {
  float: right;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  border: 1px solid #333;
  background: #5a7600;
  }
form input[type="submit"]:active {
  border: 1px solid #5a7600;
  background: #5a7600;
  }

button, input[type="button"] {
  background: #e9a015;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;  
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: 1px solid #cc941b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

p.smalltext { font-size: 12px; font-style: italic; }