article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    background: url(../images/body_bg.png) repeat top left;
}
body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}
::-moz-selection {
    background: #680;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #680;
    color: #fff;
    text-shadow: none;
}
a {
    color: #1c5e66;
    cursor: pointer;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: "";
    content: none;
}
small {
    font-size: 85%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li.register {
    float: right;
    display: inline-block;
    padding-top: 8px;
    background-image: none;
}
nav li.register a {
    margin: 0;
    padding: 0;
    background: transparent;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
form fieldset {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
form fieldset.form-actions {
    margin: 0 0 0 20%;
    padding: 0;
    border: 0;
}
form fieldset.check {
    padding-left: 20%}
form fieldset label {
    float: left;
    width: 20%;
    margin: 4px 0 5px 0;
    font-weight: bold;
}
form fieldset.check label {
    display: inline;
    float: none;
    width: auto;
    font-weight: normal;
}
form fieldset.radio ul li label {
    display: inline;
    float: none;
    width: auto;
    font-weight: normal;
}
form fieldset input.form-text, form fieldset textarea {
    display: block;
    width: 70%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form fieldset input.form-text:focus {
    border: 1px solid #ccc;
    background: #fff;
}
form fieldset textarea {
    height: 150px;
}
form fieldset select {
    min-width: 25%;
    margin: 0;
}
form fieldset.radio ul {
    margin: 5px 0 0 20%}
form fieldset.radio ul li {
    margin: 0 0 5px 0;
}
form fieldset.radio ul li:last-child {
    margin: 0;
}
form fieldset p.form-help {
    margin: 5px 0 0 20%;
    font-size: 12px;
    color: #999;
}
form input[type="button"] {
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #5a7600;
    background: #739604;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form input[type="button"]:hover, form input[type="button"]:focus {
    border: 1px solid #333;
    background: #5a7600;
}
form input[type="button"]:active {
    border: 1px solid #5a7600;
    background: #5a7600;
}

section#login_side form fieldset.form-actions {
  margin: 0 0 0 30%;
  padding: 0;
  border: none;
  }
section#login_side form fieldset.check {
  padding-left: 20%;  
  }
section#login_side form fieldset label {
  float: left;
  width: 30%;
  margin: 4px 0 5px 0;
  font-weight: bold;
  }
section#login_side form fieldset.check label {
  display: inline;
  float: none;
  width: auto;
  font-weight: normal;
  }
section#login_side form fieldset input.form-text,
section#login_side form fieldset textarea {
  display: block;
  width: 70%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

form input[type="submit"] {
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;  
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: 1px solid #5a7600;
  background: #739604;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

section#login_side form input[type="submit"] {
  float: right;
}

@media screen and (max-width:600px) {
    form fieldset label {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 5px 0;
}
form fieldset.form-actions, form fieldset.check, form fieldset.radio ul, form fieldset p.form-help {
    margin-left: 0;
    padding-left: 0;
}
form fieldset input.form-text, form fieldset textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}
label {
    cursor: pointer;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
    *overflow: visible;
}
input:not([type]), input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select {
    padding: 4px 6px;
    -moz-border-radius: 3px 4px 4px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 4px 4px 3px;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #aaa;
    min-width: 200px;
}
select {
    padding: 4px 6px;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    padding: 4px 6px;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 4px 6px;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}
form.cmxform fieldset {
    margin-bottom: 20px;
    border-top: 1px solid #546b12;
}
form.cmxform legend {
    padding: 0 2px;
    font-weight: bold;
    color: #546b12;
}
form.cmxform label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}
form.cmxform fieldset ol {
    margin: 0;
    padding: 0;
}
form.cmxform fieldset li {
    list-style: none;
    padding: 5px;
    margin: 0;
}
form.cmxform fieldset fieldset {
    border: 0;
    margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
    padding: 0 0 5px;
    font-weight: normal;
}
form.cmxform fieldset fieldset label {
    display: block;
    width: auto;
}
form.cmxform em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}
form.cmxform label {
    width: 120px;
    color: #0a4a6d;
    font-weight: bold;
    text-align: right;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 24px;
}
form.cmxform fieldset fieldset label {
    margin-left: 123px;
}
form.cmxform .small_description {
    margin-left: 123px;
    font-size: 10px;
    color: #777;
    font-style: italic;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
a.username_large {
    font-size: 16px;
    font-weight: bold;
}
.wrapper {
    margin: auto;
    width: 960px;
}
#header-container {
    background: url(../images/header_bg.jpg) repeat-x top left #678904;
    height: 150px;
}
header.wrapper {
    width: 960px;
    height: 150px;
    background: url(../images/header_inner_bg.jpg) no-repeat top center transparent;
}
h2, h3 {
    margin: 10px 0;
}
h2 {
    font-size: 18px;
    font-family: Cambria, Georgia, serif;
    font-weight: bold;
    font-style: italic;
}
h3 {
    font-size: 16px;
    font-family: Cambria, Georgia, serif;
    font-weight: bold;
    font-style: italic;
}
#title {
    font-size: 60px;
    color: white;
    float: left;
}
header #logo {
    height: 103px;
    width: 268px;
    float: left;
}
header #header_search {
    width: 615px;
    float: left;
    margin: 30px 0 0 75px;
}
header nav ul li {
    display: block;
    padding: 16px 16px 0 16px;
    float: left;
    font-size: 18px;
    height: 30px;
    font-family: Cambria, Georgia, serif;
    background: url(../images/list_separator.png) no-repeat center right;
}
nav a {
    padding: 5px 10px 10px 10px;
    color: white;
    text-decoration: none;
    background-color: #094a6c;
}
nav a:hover {
    padding: 5px 10px 10px 10px;
    margin-top: 7px;
    color: #fff;
    background: #093045;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
nav a.current {
    padding: 5px 10px 10px 10px;
    margin-top: 7px;
    color: #094a6c;
    background: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
aside {
    float: right;
    width: 308px;
    color: #555;
    margin-bottom: 50px;
}
aside h3 {
    margin-top: 0;
}
#member_info2 img.member_info2 {
    background: #dbd6c0;
    padding: 3px;
    border: 1px solid #c7c09c;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
#main aside section {
    border-bottom: 1px solid #c7c09c;
    border-top: 1px solid #f1f1f1;
    padding: 15px;
    width: 280px;
}
aside section#social_icons {
    border-top: 0;
}
aside section#social_icons ul {
    padding: 0;
    margin: 0;
}
aside section#social_icons ul li {
    list-style-type: none;
    display: inline;
}
aside section#submit_review a.submit {
    display: block;
    width: 180px;
    height: 44px;
    background: url(../images/submit_review.png) no-repeat 0 0;
    margin-left: 50px;
}
aside section#submit_review a.submit:hover {
    background-position: 0 -44px;
}
aside section#submit_review a.submit span {
    display: none;
}
aside section#featured_member img.featured_member {
    background: #dbd6c0;
    padding: 3px;
    border: 1px solid #c7c09c;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

article div#featured_member2 p {
    margin: 0 0 0 6px;
    font-size: 12px;
}

article div#featured_member2 img.featured_member2 {
    background: #dbd6c0;
    padding: 3px;
    border: 1px solid #c7c09c;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

aside section#featured_member img.featured_member {
    background: #dbd6c0;
    padding: 3px;
    border: 1px solid #c7c09c;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

aside section#featured_member p {
    margin: 0 0 0 6px;
    font-size: 12px;
}
aside section#featured_member p.side_location {
    font-weight: bold;
}
aside section#featured_member p.side_reviews a {
    font-weight: bold;
}

#main #left_column {
    width: 615px;
    float: left;
}
#main {
    width: 943px;
    padding: 15px;
    padding-right: 1px;
    background: url(../images/main_bg.png) repeat-y top right #fff;
    border-left: 1px solid #c7c09c;
    border-right: 1px solid #c7c09c;
}
#main p, #main_no_aside {
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 14px;
    line-height: 22px;
}
.map_area {
    float: left;
    width: 454px;
}
.state_map_area {
    width: 450px;
    height: 325px;
    background: #680;
    padding: 2px;
    float: left;
}
img.or_separator {
    margin: 10px 0;
}
.state_selector {
    float: left;
    width: 161px;
    background: #486001;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.state_selector ul {
    height: 309px;
    padding: 0;
    margin: 10px;
    background: #fff;
    overflow: scroll;
}
.state_selector li {
    list-style-type: none;
}
.state_selector li a {
    margin: 3px 10px;
    color: #333;
    text-decoration: none;
}
.state_selector li a:hover {
    color: #486001;
}
section.recent_reviews {
    width: 292px;
    padding-right: 14px;
    border-right: 1px solid #c7c09c;
    float: left;
}
section.top_rated {
    width: 292px;
    padding-left: 15px;
    float: left;
}
section.recent_reviews h3, section.top_rated h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid #708923;
}
section.recent_reviews ul, section.top_rated ul {
    padding: 0;
    margin: 0;
}
section.recent_reviews li, section.top_rated li {
    list-style-type: none;
    margin-bottom: 8px;
}
#main section.recent_reviews p, #main section.top_rated p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
    color: #666;
    width: 100%}
#main section.recent_reviews a, #main section.top_rated a {
    color: #1c5e66;
    font-weight: bold;
}
#main section.recent_reviews p a, #main section.top_rated p a {
    color: #1c5e66;
    text-decoration: none;
    border-bottom: 1px dotted #1c5e66;
    font-weight: normal;
}
#main section.recent_reviews p a:hover, #main section.top_rated p a:hover {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #666;
    font-weight: normal;
}
#main section.recent_reviews p em, #main section.top_rated p em {
    float: right;
}
img.rating {
    float: right;
}
section.datatable {
    width: 300px;
    float: left;
    margin-right: 15px;
}
section.datatable.right {
    margin-right: 0;
}
section.datatable table.cg_tables {
    width: 300px;
    border: 1px inset #fff;
}
section.datatable table.cg_tables td {
    background: #e0dbc6;
    color: #5e5e5d;
}
section.datatable table.cg_tables td.right_value {
    text-align: right;
    font-weight: bold;
}
#main_no_aside {
    width: 930px;
    padding: 15px;
    background: #fff;
    background-image: none;
    border-left: 1px solid #c7c09c;
    border-right: 1px solid #c7c09c;
}
#main_no_aside p {
    margin: 0 0 10px 0;
}
#main_no_aside h2 {
    color: #094a6c;
    margin-top: 0;
}
section#campground_overview {
    border-bottom: 1px solid #680;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
section#campground_overview .overview_wrap {
    width: 635px;
    float: left;
}
section#campground_overview .cg_description {
    font-size: 12px;
    line-height: 18px;
    width: 375px;
    float: left;
    margin-right: 20px;
}
section#campground_overview .cg_meta {
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 220px;
    margin-right: 20px;
}
section#campground_overview .cg_map {
    width: 290px;
    float: left;
}
section#cg_reviews {
    width: 615px;
    float: left;
    margin-right: 20px;
}
section#cg_photos {
    width: 290px;
    float: left;
}
section#cg_reviews article.review {
    margin-bottom: 15px;
}
article.review .userinfo {
    width: 60px;
    float: left;
    font-size: 10px;
    margin-right: 5px;
}
article.review .article_content {
    width: 550px;
    float: left;
    font-size: 12px;
    line-height: 18px;
}
section#cg_reviews article.review .article_content p {
    margin-bottom: 0;
}
article.review .date_of_stay {
    color: #7c7c7c;
}
#page_title {
    border-bottom: 1px solid #680;
    color: #546b12;
    margin-bottom: 20px;
}
#page_title h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#page_title h1 a {
    color: #2b6970;
    font-weight: bold;
    text-decoration: none;
}
#page_title p {
    margin: 0 0 5px 0;
    font-style: italic;
    font-size: 18px;
}
#page_title p.page_location span.claim {
    font-size: 12px;
    font-style: normal;
    float: right;
}
#footer-container {
    background-color: #094a6c;
    margin: 0 auto 20px auto;
    width: 930px;
    padding: 15px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#footer-container footer {
    color: white;
}
#footer-container footer a {
    color: #fff;
    text-decoration: none;
}
#footer-container .column {
    width: 215px;
    float: left;
}
#footer-container footer h4 {
    margin: 5px 0;
    padding: 0;
    background: url(../images/footer_heading_bg.png) repeat-x bottom left;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
#footerlinks ul {
    margin: 0;
    padding: 0;
}
#footerlinks ul li {
    list-style-type: none;
    padding: 3px 3px;
}
#footer_right {
    float: right;
    text-align: right;
}
.search {
    position: relative;
    width: 615px;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    border: 0;
    padding: 0;
    background: transparent;
    outline: 0;
}
.search input.box {
    border: 1px solid #cdcdcd;
    float: left;
    position: relative;
    background: #fff;
    display: block;
    padding: 0 40px 0 4px;
    font-size: 18px;
    height: 40px;
    line-height: 36px;
    -moz-border-radius: 3px 4px 4px 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 4px 4px 3px;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 590px;
}
button.btn {
    background: #7ba60d url(../images/rsssubmit.png) no-repeat 50%;
    text-indent: -3000em;
    padding: 0;
    border: 0;
    display: block;
    width: 44px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.clear {
    clear: both;
}
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
.ir br {
    display: none;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
@media print {
    * {
    background: transparent!important;
    color: black!important;
    text-shadow: none!important;
    filter: none!important;
    -ms-filter: none!important;
}
a, a:visited {
    color: #444!important;
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")"}
abbr[title]:after {
    content: " (" attr(title) ")"}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""}
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100%!important;
}
@page {
    margin: .5cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}