<div class="modal hide fade" id="full_option_modal">
	<div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h4>Campground Option List</h4>
    </div>
    <div class="modal-header">
	   <form class="form-horizontal" id="addOption_frm">
		  <fieldset>
		    <div class="control-group">
		      <label class="control-label" for="input01">Add Option</label>
		      <div class="controls">
		        <input type="text" class="input-large" id="input01" name="optionName">
		        <a class="btn btn-success btn-mini" id="addOption">
			      save
			    </a>
		      </div>
		    </div>
		  </fieldset>
	</form>
    </div>
    <div class="modal-body">
    	<ul id="optList" class="unstyled"></ul>
    </div>
</div>