<form method="get" id="searchform" action="http://www.campgroundreport.com">
    <fieldset class="search">
        <input type="text" value="Search for a Campground, City, or State" class="box" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
        <button class="btn" title="Submit Search">Search</button>
    </fieldset>
</form>

<img src="images/separator.jpg" alt="" width="615" height="24" class="or_separator" />


<div class="map_section">
    <div class="map_area">
        <img src="images/main_map.jpg" alt="" width="454" height="329" />
    </div><!-- .map_area -->
    <div class="state_selector">
        <ul id="states_lst">
            <li onclick="showState('AL')">Alabama </li>
            <li onclick="showState('AK')">Alaska </li>
            <li onclick="showState('AZ')">Arizona </li>
            <li onclick="showState('AR')">Arkansas </li>
            <li onclick="showState('CA')">California </li>
            <li onclick="showState('CO')">Colorado </li>
            <li onclick="showState('CT')">Connecticut </li>
            <li onclick="showState('DE')">Delaware </li>
            <li onclick="showState('FL')">Florida </li>
            <li onclick="showState('GA')">Georgia </li>
            <li onclick="showState('HI')">Hawaii </li>
            <li onclick="showState('ID')">Idaho </li>
            <li onclick="showState('IL')">Illinois </li>
            <li onclick="showState('IN')">Indiana </li>
            <li onclick="showState('IA')">Iowa </li>
            <li onclick="showState('KS')">Kansas </li>
            <li onclick="showState('KY')">Kentucky </li>
            <li onclick="showState('LA')">Louisiana </li>
            <li onclick="showState('ME')">Maine </li>
            <li onclick="showState('MD')">Maryland </li>
            <li onclick="showState('MA')">Massachusetts </li>
            <li onclick="showState('MI')">Michigan </li>
            <li onclick="showState('MN')">Minnesota </li>
            <li onclick="showState('MS')">Mississippi </li>
            <li onclick="showState('MO')">Missouri </li>
            <li onclick="showState('MT')">Montana </li>
            <li onclick="showState('NE')">Nebraska </li>
            <li onclick="showState('NV')">Nevada </li>
            <li onclick="showState('NH')">New Hampshire </li>
            <li onclick="showState('NJ')">New Jersey </li>
            <li onclick="showState('NM')">New Mexico </li>
            <li onclick="showState('NY')">New York </li>
            <li onclick="showState('NC')">North Carolina </li>
            <li onclick="showState('ND')">North Dakota </li>
            <li onclick="showState('OH')">Ohio </li>
            <li onclick="showState('OK')">Oklahoma </li>
            <li onclick="showState('OR')">Oregon </li>
            <li onclick="showState('PA')">Pennsylvania </li>
            <li onclick="showState('RI')">Rhode Island </li>
            <li onclick="showState('SC')">South Carolina </li>
            <li onclick="showState('SD')">South Dakota </li>
            <li onclick="showState('TN')">Tennessee </li>
            <li onclick="showState('TX')">Texas </li>
            <li onclick="showState('UT')">Utah </li>
            <li onclick="showState('VT')">Vermont </li>
            <li onclick="showState('VA')">Virginia </li>
            <li onclick="showState('WA')">Washington </li>
            <li onclick="showState('WV')">West Virginia </li>
            <li onclick="showState('WI')">Wisconsin </li>
            <li onclick="showState('WY')">Wyoming </li>
        </ul>
    </div><!-- .state_selector -->
</div><!-- .map_section -->

<div class="clear"></div>

<section class="recent_reviews">
    <h3>Recent Campground Reviews</h3>
    <ul id="reviewed">

    </ul>
</section>


<section class="top_rated">
    <h3>Top Rated Campgrounds</h3>
    <ul id="topcamps">

    </ul>
</section>

<div class="clear"></div>