<div id="campreviews_modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h4>Campground Reviews</h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered table-condensed" id="rvlist_tbl">
            <thead>
            <tr>
                <th></th>
                <th>Reviewer</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody id="campreview_body"></tbody>
        </table>
    </div>
</div>