<div class="modal hide fade" id="camp_option_modal">
	<div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h4>Campground Option List</h4>
    </div>
    <div class="modal-body">
    	<form id="camp_opt_frm">
            <input type="hidden">
    	<table class="table table-striped table-bordered table-condensed" id="cglist_tbl">
			
			<tbody id="optList2"></tbody>
		</table>
    	</form>
    </div>
    <div class="modal-footer">
    	<!--<a href="#" class="btn btn-success btn-mini" id="edit_camp_opts"><i class="icon-ok icon-white"></i> Update</a>-->
    </div>
</div>