
<div id="editReviewFrm" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h3>Edit Review</h3>
    </div>
    <div class="modal-body">
        <div class="alert" style="display:none" id="editRevPnl">
            <strong>Saving...</strong>
        </div>
        <form class="form-horizontal" id="editrvFrm">
            <input type="hidden" name="num" id="revnum">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="cg">Campground:</label>
                    <div class="controls">
                        <select id="ecg" name="cg"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="erevname">Name:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="revname" id="erevname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="edateOfStay">Date Of Stay:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="dateOfStay" id="edateOfStay">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="esitenum">Site Number:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="sitenum" id="esitenum">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="erevrating">Rating:</label>
                    <div class="controls">
                        <select id="erevrating" name="revrating"><option>1</option><option>2</option><option>3</option><option>4</option></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="estayagain">Stay Again:</label>
                    <div class="controls">
                        <select id="estayagain" name="stayagain"><option value="0">Choose</option><option value="y">Yes</option><option value="n">No</option></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecomments">Comments:</label>
                    <div class="controls">
                        <textarea rows="5" cols="30" id="ecomments" name="comments"></textarea>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="modal-footer">

        <a href="#" class="btn btn-success btn-mini" id="updateReview"><i class="icon-ok icon-white"></i> Save</a>
        <a href="#" class="btn btn-danger btn-mini" id="clsEditReview" data-dismiss="modal"><i class="icon-remove icon-white"></i> Close</a>
    </div>
</div>

</div>