<div class="modal hide fade" id="editCampFrm">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h3>Edit Campground</h3>
    </div>
    <div class="modal-body">
        <div class="alert" style="display:none" id="infoPnl2">
            <strong>Saving...</strong>
        </div>
        <form class="form-horizontal" id="editFrm">
            <input type="hidden" name="num" id="num">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="ecgname">Campground Name:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgname" id="ecgname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="desc">Campground Desc:</label>
                    <div class="controls">
                        <textarea class="input-large" name="desc" id="desc"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgaddy">Address:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgaddy" id="ecgaddy">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgcity">City:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgcity" id="ecgcity">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgstate">State:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgstate" id="ecgstate">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgzip">Zip:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgzip" id="ecgzip">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgphone">Phone:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgphone" id="ecgphone">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgemail">Email:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgemail" id="ecgemail">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ecgweb">Website:</label>
                    <div class="controls">
                        <input type="text" class="input-large" name="cgweb" id="ecgweb">
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-inline">
                        <label class="control-label" for="ecglat">Lat & Long:</label>
                        <input type="text" class="input-small" placeholder="Lat" name="ecglat" id="ecglat"/>
                        <input type="text" class="input-small" placeholder="Long" name="ecglong" id="ecglong"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">

        <a href="#" class="btn btn-success btn-mini" id="editCamp"><i class="icon-ok icon-white"></i> Update</a>
        <a href="#" class="btn btn-danger btn-mini" id="clsEditCampFrm"><i class="icon-remove icon-white"></i> Close</a>
    </div>
</div>