<!-- modal form to add a new campsite -->
<div class="modal hide fade" id="newCampFrm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
    <h3>Add Campground</h3>
  </div>
  <div class="modal-body">
  	<div class="alert" style="display:none" id="infoPnl">
  		<strong>Saving...</strong>
	</div>
  <form class="form-horizontal" id="campFrm">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="cgname">Campground Name:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgname" id="cgname">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgaddy">Address:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgaddy" id="cgaddy">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgcity">City:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgcity" id="cgcity">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgstate">State:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgstate" id="cgstate">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgzip">Zip:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgzip" id="cgzip">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgphone">Phone:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgphone" id="cgphone">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgemail">Email:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgemail" id="cgemail">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cgweb">Website:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="cgweb" id="cgweb">
      </div>
    </div>
    <div class="control-group">
      	<form class="form-inline">
      		<label class="control-label" for="cglat">Lat & Long:</label>
		  	<input type="text" class="input-small" placeholder="Lat" name="cglat" id="cglat"/>
		  	<input type="text" class="input-small" placeholder="Long" name="cglong" id="cglong"/>
		</form>
    </div>
  </fieldset>
</form>
  </div>
  <div class="modal-footer">
  	
    <a href="#" class="btn btn-success btn-mini" id="saveCamp"><i class="icon-ok icon-white"></i> Save</a>
    <a href="#" class="btn btn-danger btn-mini" id="clsNewCampFrm"><i class="icon-remove icon-white"></i> Close</a>
  </div>
</div>
