
    <div id="newReviewFrm" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
            <h3>Edit Campground</h3>
        </div>
        <div class="modal-body">
            <div class="alert" style="display:none" id="newrevPnl">
                <strong>Saving...</strong>
            </div>
            <form class="form-horizontal" id="newrvFrm">

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="cg">Campground:</label>
                        <div class="controls">
                            <select id="cg" name="cg"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="revname">Name:</label>
                        <div class="controls">
                            <input type="text" class="input-large" name="revname" id="revname">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="dateOfStay">Date Of Stay:</label>
                        <div class="controls">
                            <input type="text" class="input-large" name="dateOfStay" id="dateOfStay">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="sitenum">Site Number:</label>
                        <div class="controls">
                            <input type="text" class="input-large" name="sitenum" id="sitenum">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="revrating">Rating:</label>
                        <div class="controls">
                            <select id="revrating" name="revrating"><option>1</option><option>2</option><option>3</option><option>4</option></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="stayagain">Stay Again:</label>
                        <div class="controls">
                            <select id="stayagain" name="stayagain"><option value="0">Choose</option><option value="y">Yes</option><option value="n">No</option></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="comments">Comments:</label>
                        <div class="controls">
                            <textarea rows="5" cols="30" id="comments" name="comments"></textarea>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">

            <a href="#" class="btn btn-success btn-mini" id="saveReview"><i class="icon-ok icon-white"></i> Save</a>
            <a href="#" class="btn btn-danger btn-mini" id="clsSaveReview"><i class="icon-remove icon-white"></i> Close</a>
        </div>
    </div>

</div>