<div class="modal hide fade" id="option_modal">
	<div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h4>Campground Option List</h4>
    </div>
    <div class="modal-header">
	   <form class="form-horizontal" id="addOption_frm">
		  <fieldset>
		    <div class="control-group">
		      <label class="control-label" for="input01">New Option:</label>
		      
		      <div class="controls">
		         <input type="text" class="input-small" id="input01" name="optionName" placeholder="Option Name">
		        <input type="text" class="input-small" id="input02" name="defVal" placeholder="Default Val">
		        <a class="btn btn-success btn-small" id="addOption"> save </a>
		      </div>
		    </div>
		  </fieldset>
	</form>
    </div>
    <div class="modal-body">
    	<ul id="optList" class="unstyled"></ul>
    </div>
</div>