li a {
    cursor: pointer;
}

.btn.blue {
  background-color: hsl(205, 73%, 12%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(205, 73%, 50%)", endColorstr="hsl(205, 73%, 12%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(205, 73%, 50%)), to(hsl(205, 73%, 12%)));
  background-image: -moz-linear-gradient(top, hsl(205, 73%, 50%), hsl(205, 73%, 12%));
  background-image: -ms-linear-gradient(top, hsl(205, 73%, 50%), hsl(205, 73%, 12%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(205, 73%, 50%)), color-stop(100%, hsl(205, 73%, 12%)));
  background-image: -webkit-linear-gradient(top, hsl(205, 73%, 50%), hsl(205, 73%, 12%));
  background-image: -o-linear-gradient(top, hsl(205, 73%, 50%), hsl(205, 73%, 12%));
  background-image: linear-gradient(hsl(205, 73%, 50%), hsl(205, 73%, 12%));
  border-color: hsl(205, 73%, 12%) hsl(205, 73%, 12%) hsl(205, 73%, 2.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

.btn.green {
  background-color: hsl(125, 71%, 14%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(125, 71%, 52%)", endColorstr="hsl(125, 71%, 14%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(125, 71%, 52%)), to(hsl(125, 71%, 14%)));
  background-image: -moz-linear-gradient(top, hsl(125, 71%, 52%), hsl(125, 71%, 14%));
  background-image: -ms-linear-gradient(top, hsl(125, 71%, 52%), hsl(125, 71%, 14%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(125, 71%, 52%)), color-stop(100%, hsl(125, 71%, 14%)));
  background-image: -webkit-linear-gradient(top, hsl(125, 71%, 52%), hsl(125, 71%, 14%));
  background-image: -o-linear-gradient(top, hsl(125, 71%, 52%), hsl(125, 71%, 14%));
  background-image: linear-gradient(hsl(125, 71%, 52%), hsl(125, 71%, 14%));
  border-color: hsl(125, 71%, 14%) hsl(125, 71%, 14%) hsl(125, 71%, 4.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

.btn.red {
  background-color: hsl(8, 87%, 16%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(8, 87%, 54%)", endColorstr="hsl(8, 87%, 16%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(8, 87%, 54%)), to(hsl(8, 87%, 16%)));
  background-image: -moz-linear-gradient(top, hsl(8, 87%, 54%), hsl(8, 87%, 16%));
  background-image: -ms-linear-gradient(top, hsl(8, 87%, 54%), hsl(8, 87%, 16%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(8, 87%, 54%)), color-stop(100%, hsl(8, 87%, 16%)));
  background-image: -webkit-linear-gradient(top, hsl(8, 87%, 54%), hsl(8, 87%, 16%));
  background-image: -o-linear-gradient(top, hsl(8, 87%, 54%), hsl(8, 87%, 16%));
  background-image: linear-gradient(hsl(8, 87%, 54%), hsl(8, 87%, 16%));
  border-color: hsl(8, 87%, 16%) hsl(8, 87%, 16%) hsl(8, 87%, 6.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

.btn.grey {
  background-color: hsl(61, 11%, 23%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(61, 11%, 61%)", endColorstr="hsl(61, 11%, 23%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(61, 11%, 61%)), to(hsl(61, 11%, 23%)));
  background-image: -moz-linear-gradient(top, hsl(61, 11%, 61%), hsl(61, 11%, 23%));
  background-image: -ms-linear-gradient(top, hsl(61, 11%, 61%), hsl(61, 11%, 23%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(61, 11%, 61%)), color-stop(100%, hsl(61, 11%, 23%)));
  background-image: -webkit-linear-gradient(top, hsl(61, 11%, 61%), hsl(61, 11%, 23%));
  background-image: -o-linear-gradient(top, hsl(61, 11%, 61%), hsl(61, 11%, 23%));
  background-image: linear-gradient(hsl(61, 11%, 61%), hsl(61, 11%, 23%));
  border-color: hsl(61, 11%, 23%) hsl(61, 11%, 23%) hsl(61, 11%, 13.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

.btn.yellow {
  background-color: hsl(47, 98%, 41%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(47, 98%, 79%)", endColorstr="hsl(47, 98%, 41%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(47, 98%, 79%)), to(hsl(47, 98%, 41%)));
  background-image: -moz-linear-gradient(top, hsl(47, 98%, 79%), hsl(47, 98%, 41%));
  background-image: -ms-linear-gradient(top, hsl(47, 98%, 79%), hsl(47, 98%, 41%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(47, 98%, 79%)), color-stop(100%, hsl(47, 98%, 41%)));
  background-image: -webkit-linear-gradient(top, hsl(47, 98%, 79%), hsl(47, 98%, 41%));
  background-image: -o-linear-gradient(top, hsl(47, 98%, 79%), hsl(47, 98%, 41%));
  background-image: linear-gradient(hsl(47, 98%, 79%), hsl(47, 98%, 41%));
  border-color: hsl(47, 98%, 41%) hsl(47, 98%, 41%) hsl(47, 98%, 31.5%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
  -webkit-font-smoothing: antialiased;
}

.btn.orange {
  background-color: hsl(30, 100%, 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(30, 100%, 53%)", endColorstr="hsl(30, 100%, 15%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(30, 100%, 53%)), to(hsl(30, 100%, 15%)));
  background-image: -moz-linear-gradient(top, hsl(30, 100%, 53%), hsl(30, 100%, 15%));
  background-image: -ms-linear-gradient(top, hsl(30, 100%, 53%), hsl(30, 100%, 15%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(30, 100%, 53%)), color-stop(100%, hsl(30, 100%, 15%)));
  background-image: -webkit-linear-gradient(top, hsl(30, 100%, 53%), hsl(30, 100%, 15%));
  background-image: -o-linear-gradient(top, hsl(30, 100%, 53%), hsl(30, 100%, 15%));
  background-image: linear-gradient(hsl(30, 100%, 53%), hsl(30, 100%, 15%));
  border-color: hsl(30, 100%, 15%) hsl(30, 100%, 15%) hsl(30, 100%, 5.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
 
li a {cursor: pointer};

i {cursor: pointer};

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}
